.my_todo-container{
    width: 70%;
}

.my_header{
    padding: 2rem 4rem 3rem;
    font-size: 1.3rem;
    font-weight: 700;
}

.my_inputs{
    padding-top: 1.5rem;
    gap: 1rem;
}

.my_list{
    gap: 15px;
}

.my_task{
    border: 1px solid black;
    border-radius: 4px;
    padding: 1rem 2rem;
}

.my_task i{
    margin-right: 1rem;
}